body {
  background-color: rgb (237, 237, 237);
}

.scroll {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding: 20px;
}

.scroll:hover > :not(:hover) {
  opacity: 0.3;
}

.card {
  flex: 0 0 calc(100% / 6);
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 8px;
  transition: 0.5s ease;
  cursor: pointer;
  border: 0.9px solid black;
  border-radius: 8px;
  box-shadow: 5px 1px 10px 5px grey;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.card:hover {
  transform: scale(1.05);
}
