@font-face {
    font-family: 'TurboType';
    src: url('/assets/turbo-type-font/TurboTypeTwo-ARE5D.ttf') format('truetype');
  }

body {
  background: url('/assets/imgs/ivory.jpg');
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(1, 28, 0);
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#avatar {
  width: 20%;
  border: 4.5px double rgb(1, 24, 0);
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(245, 245, 245, 0.757);
}

  