@font-face {
  font-family: 'TurboType';
  src: url('/assets/turbo-type-font/TurboTypeTwo-ARE5D.ttf') format('truetype');
}

body {
  background: url('/assets/imgs/ivory.jpg');
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(1, 28, 0);
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#back {
  position: fixed;
  margin: 2rem;
}

a {
  font-family: 'TurboType';
  font-size: 25px;
  color: rgba(248, 250, 248, 0.886);
  text-decoration: none;
}

#avatar {
  animation: 6s infinite anim_8;
  width: 20%;
  border: 4.5px double rgb(1, 24, 0);
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(245, 245, 245, 0.757);
}

@keyframes anim_8 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 5;
  }
  100% {
    opacity: 0;
  }
}

h1 {
  background: rgba(1, 28, 0, 0.71);
  color: rgba(255, 255, 255, 0.644);
  font-family: 'TurboType', sans-serif;
  font-size: 30px;
  padding: 0.5rem;
  margin: 2.9rem;
  border: 2.5px double rgba(255, 255, 255, 0.644);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bio {
  background: rgba(255, 255, 255, 0.411);
  font-size: 18.5px;
  font-weight: 565;
  text-align: justify;
  padding: 3.5rem;
  margin: 2.5rem;
  border: 3.5px double rgba(1, 42, 1, 0.581);
  border-radius: 9%;
}

#qt {
  font-family: 'TurboType', sans-serif;
  color: rgb(6, 28, 1);
}

span {
  display: block;
  font-family: cursive;
  font-size: 2rem;
  margin-top: 1rem;
}
